{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

<div class='container-fluid  pt-5 '>
   <div class='row justify-content-md-center '>
      <div class='col-5 '>

         <h1>Liste des utilisateurs</h1>
         <div class='pt-3'>
            <table class="shadow table table-bordered table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.age }}</td>
<td class='text-center' width="30%">
<a class='shadow btn btn-primary' href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>

<a class='shadow btn btn-danger' href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a></td>




                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a class='shadow btn btn-success' href="{{ path('utilisateur_new') }}">Create new</a>

</div></div></div>{% endblock %}

